<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <button @click="show = !show">Switch</button>
        <p>Do you see me?</p>
        <p v-if="show">You can see me!!!!!!!!!!!!!!!!</p>
        <p v-else>Now you see me!!</p>

        <template v-if="show">
            <h1>I'm in a group</h1>
            <p>Everything will show and hide here</p>
        </template>

        <div v-show="show">
            <h1>Using v-show</h1>
            <p>This will also hide like v-if but it will still be in the document. It will just get the style of "display:none"</p>
        </div>

        <h1>Lists with v-for</h1>
        <ul>
            <li v-for="(ingredient, i) in ingredients">{{i}}: {{ingredient}}</li>
        </ul>

        <template v-for="(ingredient, i) in ingredients">
            <h2 style="text-transform: capitalize;">{{ingredient}}</h2>
            <a href="#">{{i}}</a>
        </template>

        <hr>
        <h2>Looping through objects</h2>
        
        <h3>Basic</h3>
        <ul>
            <li v-for="person in people">{{ person.name }}</li>
        </ul>

        <h3>Loop through Object</h3>
        <ul>
            <li v-for="person in people">
                <div v-for="(value,key,index) in person">{{key}} : {{value}} ({{index}})</div>
            </li>
        </ul>

    </div>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>