<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <button @click="show = !show">Switch</button>
        <p>Do you see me?</p>
        <p v-if="show">You can see me!!!!!!!!!!!!!!!!</p>
        <p v-else>Now you see me!!</p>

        <template v-if="show">
            <h1>I'm in a group</h1>
            <p>Everything will show and hide here</p>
        </template>
    </div>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>